<%= button_tag "Back", { onclick: 'history.go(-1); return false;' } %>
<br />

<h1><%= @artist.name %></h1>

<p><%= @artist.name %> was played <b><%= @artist.total_plays %></b> times so far</p>

<%= column_chart @artist.stations.group('stations.name').count %>

<h2>Played songs</h2>
<%= render partial: 'songs/list', locals: { songs: @artist.songs_ranked } %>