<%= link_to 'Back', '#', { class: 'btn btn-default btn-sm', onclick: 'history.go(-1); return false;' } %>
<br />

<h2><%= @artist.name %></h2>

<% if logged_in? %>
  <%= link_to 'capitalize name', capitalize_artist_name_path( @artist  ) %>

  <% if @artist.parent.nil? && @artist.similar.any? %>
    this artist could be same as
    <ul>
        <% @artist.similar.each do |similar_artist| %>
          <li>
              <%= link_to similar_artist.name, artist_path( similar_artist ) %>
              make <%= link_to "#{similar_artist.name} parent", same_as_artist_path( id: @artist.id, parent_id: similar_artist.id) %>
          </li>
        <% end %>
    </ul>

  <% end %>

<% end %>

<% if @artist.parent %>
  see <%= link_to @artist.parent.name, artist_path( @artist.parent ) %>
<% else %>
  <h3>Trivia</h3>
  <%= render partial: 'artists/trivia', locals: { artist: @artist } %>

  <h3>Broadcasts</h3>
  <%= render partial: 'broadcasts/stats', locals: { item: @artist } %>

  <% if @artist.awards.any? %>
    <h3>Won awards</h3>
    <%= render partial: 'awards/list', locals: { awards: @artist.awards, hide_winner: true } %>
  <% end %>

  <h3>Played songs</h3>
  <%= render partial: 'songs/list', locals: { songs: @artist.songs_ranked , display: [ :play_count ] } %>
<% end %>

