<h2><%= @station.name %></h2>

<h3>10 most played songs on <%= @station.name%></h3>
<%= render partial: 'songs/list', locals: { songs: @station.top_songs( 10 ), display: [ :play_count, :artist ] } %>

<hr />


<h3>10 most played artists on <%= @station.name %></h3>
<%= render partial: 'artists/list', locals: { artists: @station.top_artists( 10 ), display: [ :play_count ] } %>
