<h1><%= @station.name %></h1>

<h2>Popular songs on <%= @station.name%></h2>
<%= render partial: 'songs/list', locals: { songs: @station.top_songs( 10 ) } %>

<hr />


<h2>Popular artists on <%= @station.name %></h2>
<%= render partial: 'artists/list', locals: { artists: @station.top_artists( 10 ) } %>
