<h2>Home</h2>

<div class="facts">
  <div>
    <div class="fact">
      <b>Newest song</b>
      <%= render partial: 'songs/item', locals: { song: Song.newest, display: [ :first_played, :artist ] } %>
    </div>
  </div>

  <div>
    <div class="fact">
      <b>Most played song overall</b>
      <%= render partial: 'songs/item', locals: { song: Song.most_played, display: [ :play_count, :artist ] } %>
    </div>
  </div>

  <div>
    <div class="fact">
      <b>Most played artist overall</b>
      <%= render partial: 'artists/item', locals: { artist: Artist.most_played, display: [ :play_count ] } %>
    </div>
  </div>

    <div>
       <div class="fact">
          <b>Artist with most songs</b>
          <%= render partial: 'artists/item', locals: { artist: Artist.most_songs, display: [ :song_count ] } %>
      </div>
  </div>

</div>


<h2>Lately On-Air</h2>
<table>
<% Station.all.each do |station| %>
  <tr>
      <td><%= link_to station.name, station_path( station ) %></td>
      <td><%= render partial: 'songs/item', locals: { song: station.latest_broadcast.song, display: [ :last_played, :artist ] } %></td>
  </tr>
<% end %>
</table>