<%= link_to 'Back', '#', { class: 'btn btn-default btn-sm', onclick: 'history.go(-1); return false;' } %><br />
<h2><%= @song.name %><span class="tiny"> by <%= link_to @song.artist.name, @song.artist, class: 'artist' %></span></h2>


<% if logged_in? %>

  <%= link_to 'capitalize song name', capitalize_song_name_path( @song) %> <br />

  <% if @song.parent.nil? && @song.similar.any? %>
    this song could be same as
    <ul>
        <% @song.similar.each do |similar_song| %>
          <li>
              <%= link_to similar_song.name, song_path( similar_song ) %>
              make <%= link_to "#{ similar_song.name} parent", same_as_song_path( id: @song.id, parent_id: similar_song.id ) %>
          </li>
        <% end %>
    </ul>

  <% end %>
<% end %>

<h3>Stations</h3>
<%= render partial: 'songs/trivia', locals: { song: @song } %>

<h3>Broadcasts</h3>
<%= render partial: 'broadcasts/stats', locals: { item: @song } %>

<% if @song.awards.any? %>
<h3>Radiolizer awards</h3>
<%= render partial: 'awards/list', locals: { awards: @song.awards, hide_winner: true } %>
<% end %>

<h3>Broadcast history</h3>
<%= render 'songs/history', song: @song %>
