<%= button_tag "Back", { onclick: 'history.go(-1); return false;' } %><br />
<h2><%= @song.name %> by <%= link_to @song.artist.name, @song.artist, class: 'artist' %></h2>

<h3>Where this song is played</h3>
<%= column_chart @song.stations.group( 'stations.name' ).count %>

<% if @song.awards.any? %>
<h3>Won awards</h3>
<%= render partial: 'awards/list', locals: { awards: @song.awards, hide_winner: true } %>
<% end %>

<h3>Broadcast history</h3>
<table>
  <tr>
      <th>Time</th>
      <th>Station</th>
  </tr>
  <% @song.broadcasts.order('broadcasts.time DESC').each do |broadcast| %>
      <tr>
        <td><%= broadcast.time %></td>
        <td><%= link_to broadcast.station.name, station_path(broadcast.station) %></td>
      </tr>
  <% end %>
</table>

