<%= link_to 'Back', '#', { class: 'back', onclick: 'history.go(-1); return false;' } %><br />
<h2><%= @song.name %><span class="tiny"> by <%= link_to @song.artist.name, @song.artist, class: 'artist' %></span></h2>

<h3>Stations</h3>
<div class="facts">
    <div>
      <div class="fact">
          <b>First appearance</b>
          <div class="station">
              <div class="name">
                  <%= link_to @song.first_broadcast.station.name, station_path( @song.first_broadcast.station ) %>
              </div>
              <div class="info">
                  on <%= @song.first_broadcast.time.strftime("%d %B %Y") %>
              </div>
          </div>
      </div>
    </div>
    <div>
      <div class="fact">
          <b>Last played on station</b>
          <div class="station">
              <div class="name">
                  <%= link_to @song.last_broadcast.station.name, stations_path( @song.last_broadcast.station) %>
              </div>
              <div class="info">
                  <%= distance_of_time_in_words_to_now( @song.last_broadcast.time ) %> ago
              </div>
          </div>
      </div>
    </div>
</div>

<h3>Broadcasts</h3>
<%= render partial: 'broadcasts/stats', locals: { item: @song } %>

<% if @song.awards.any? %>
<h3>Radiolizer awards</h3>
<%= render partial: 'awards/list', locals: { awards: @song.awards, hide_winner: true } %>
<% end %>

<% # TODO broadcast history %>

