<!DOCTYPE html>
<html>
<head>
  <title>Radiolizer - Analyzing Radio Stations</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>Radiolizer</h1>
  <nav class="top">
    <ul>
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Stations', stations_path %></li>
    </ul>
  </nav>

  <div class="container">
      <%= yield %>
  </div>

  <div class="footer">
      2015
  </div>
</body>
</html>
