<!DOCTYPE html>
<html>
<head>
  <title>Radiolizer - Analyzing Radio Stations</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
<% if logged_in? %>
  <%= link_to 'Logout', logout_path, { style: 'position: fixed; top: 0; left: 0; '} %>
<% end %>
  <div class="row">
    <div class="col-xs-12 title">
      <h1>Radiolizer</h1>
      <b>Analyzing stations since <%= Broadcast.order( time: :asc).first.time.strftime("%d %B %Y") %></b>
    </div>
  </div>

  <%= render 'layouts/nav' %>

  <div class="container">
      <%= yield %>
  </div>

  <div class="footer">
      <%= render 'layouts/footer' %>
  </div>
</div>
</body>
</html>
